:root {
    --darkBackground: #CCC6B4;
    --lightBackground: #F2F0EC;
    --lightText: #F2F0EC;
    --darkText: #49463F;
    --orange: #D14E33;
    --shadow: rgba(73, 70, 63, 0.404);
}

/* ### General Elements ### */
html {
    background-color: var(--darkBackground);
    color: var(--darkText);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--darkText);
}

p {
    color: var(--darkText)
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    align-content: stretch;
}

.image-container {
    width: 250px;
    margin: 8px;
}

img {
    border-radius: var(--pico-border-radius);
}

a:hover {
    color: var(--orange);
    text-decoration: none;;
}

a {
    text-decoration: none;
}

h1 
{
    font-size: 3.5rem;
}

article {
    background-color: var(--lightBackground);
    box-shadow: var(--shadow) 0px 0px 8px;
}

.hoverable:hover {
    background-color: white;
}

/* ### Sepecific Elements ### */

#large-sub-heading {
    font-size: 4rem;
}

/* ### Utilities ### */
.mx-20 {
    margin: 20px 0px 20px 0px;
}

.mx-40 {
    margin: 40px 0px 40px 0px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.inset-text {
    background-color: #49463F;
    color: transparent;
    text-shadow: 2px 2px 3px var(--darkBackground);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.text-center {
    text-align: center;
}

.text-light {
    color: var(--lightText);
}

.text-dark {
    color: var(--darkText);
}

.text-orange {
    color: var(--orange);
}