:root {
    --darkBackground: #CCC6B4;
    --lightBackground: #F2F0EC;
    --lightText: #F2F0EC;
    --darkText: #49463F;
    --orange: #D14E33;
}


html {
    background-color: var(--darkBackground);
    color: var(--darkText);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--darkText);
}

.inset-text {
    background-color: #49463F;
    color: transparent;
    text-shadow: 2px 2px 3px var(--darkBackground);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h1 
{
    font-size: 3.5rem;
}

#large-sub-heading {
    font-size: 4rem;
}

article {
    background-color: var(--forgroundSand);
}

.text-center {
    text-align: center;
}

.text-light {
    color: var(--lightText);
}

.text-dark {
    color: var(--darkText);
}

.text-orange {
    color: var(--orange);
}